html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: $mainBlack;
    line-height: 1.65;
    background-color: white;
    background-image: url('https://github.com/ijalfauzi/cep-trial-task/blob/master/app/assets/images/background.jpg?raw=true');
    background-size: cover;
    background-repeat: no-repeat;
}

img {
    max-width: 100%;
    height: auto;
}

svg {
    width: inherit;
    height: auto;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}