.btn {
    background-color: rgba(0,0,0, 0.25);
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 0.875rem;
    display: inline-block;
    border: 1px solid #ffffff;
    font-size: 0.65rem;
}

.btn--download {
    background-color: $mainGrey;
    display: none;

    @mixin atSmall {
        display: inline-block;
    }
}
